input {
    background: $white;
    border-radius: 4px;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Poppins';
    color: $trout;
    &:focus {
        border: 1px solid $primary;
    }
}

.signup__input, #password-input {
    width: 395px;
    height: 36px;
    left: 621px;
    top: 284px;
    border: 1px solid $ghost;
    box-sizing: border-box;
    padding-left: 12px;
    margin-top: 8px;
    margin-bottom: 16px;    
}

.input_checkbox {
    width: 16px;
    height: 16px;   
    border: 1px solid $hit-gray;
    margin-right: 8px;
    margin-bottom: 16px;
    &:visited {
        background: $whisper;
        color: $primary;
    }
}

label {
    font-size: 13px;
    font-weight: 500;
    color: $trout;

}

.password {
	position: relative;
    
}
.password-control {
	position: absolute;
	display: inline-block;
    top: 17px;
	right: 15px;
	width: 19px;
	height: 16px;
	background: url(../img/icons/pass.png) 0 0 no-repeat;
}
.password-control.view {
    background: url(../img/icons/pass.png) 0 0 no-repeat;
}
