@media (max-width: 420px) {
  .signup {
    &__wrapper {
      margin-top: 0px;
      width: 100vw;
      margin-top: 100px;
    }

    &__header {
      height: 112px;
      border-radius: 0%;
      &_text {
        display: flex;
        flex-direction: column;
        align-items: left;
        color: $primary;
        padding: 28px 0px 0px 20px;
        .hone {
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 8px;
        }
        .htwo {
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
    &__avatar {
      display: flex;
      justify-content: center;
      height: 80px;
      top: 80px;
      width: 100vw;
      left: 0;
    }
    &__main {
      width: 90vw;
      padding: 40px 5vw 0px 5vw;
      margin-bottom: 15px;
      border-radius: 0px;

      .signup__input,
      #password-input {
        width: 90vw;
        height: 30px;
        margin-bottom: 12px;
      }
      input {
        font-size: 11px;
      }
      .input_checkbox {
        width: 12px;
        height: 12px;
        border: 1px solid $hit-gray;
        margin-right: 8px;
        margin-bottom: 16px;
      }
      label {
        font-size: 12px;
        font-weight: normal;
      }
      .password-control {
        top: 14px;
        right: 10px;
      }
    }
  }

  .signup__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    height: 36px;
    font-size: 12px;
  }

  &__forgot {
    margin: 16px 0 24px 0;
    img {
      width: 19px;
      margin-right: 4px;
    }
  }

  p {
    font-size: 12px;
    margin: 0;
  }
  .copyright {
    width: 100vw;
    max-height: 56px;
    .copyright_txt {
      font-size: 11px;
      font-weight: 400;
      color: $trout;
      margin-bottom: 5px;
      a.signup {
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 300px) {
  span {
    font-size: 11px;
  }
  .signup {
    &__wrapper {
      margin-top: 0px;
      width: 100vw;
      margin-top: 100px;
    }

    &__header {
      height: 88px;
      border-radius: 0%;
      &_text {
        display: flex;
        flex-direction: column;
        align-items: left;
        color: $primary;
        padding: 20px 0px 0px 15px;
        .hone {
          font-size: 13px;
          font-weight: 600;
          margin-bottom: 8px;
        }
        .htwo {
          font-size: 11px;
          font-weight: 400;
        }
      }
      &_login {
        img {
          width: 136px;
        }
      }
    }
    &__avatar {
      top: 70px;
      left: 0px;
      height: 70px;
    }

    &__main {
      width: 90vw;
      height: 260px;
      padding: 40px 5vw 0px 5vw;
      margin-bottom: 15px;
      .signup__input,
      #password-input {
        width: 90vw;
        height: 30px;
        margin-bottom: 12px;
      }
      input {
        font-size: 10px;
      }
      .input_checkbox {
        width: 12px;
        height: 12px;
        border: 1px solid $hit-gray;
        margin-right: 8px;
        margin-bottom: 16px;
      }
      label {
        padding-top: 1px;
        font-size: 10px;
        font-weight: normal;
      }
      .password-control {
        top: 14px;
        right: 15px;
      }
    }

    &__forgot {
      margin: 16px 0 15px 0;
      img {
        width: 15px;
        margin-right: 4px;
      }
      span {
        font-size: 10px;
      }
    }
  }

  .signup__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    height: 28px;
    font-size: 11px;
  }

  .copyright {
    max-height: 50px;
    margin-right: 0;
    &__wrapper {
      width: 100vw;
    }
    .copyright_txt {
      font-size: 9px;
      font-weight: 400;
      color: $trout;
      margin-bottom: 5px;
      br {
        display: block;
      }
      a.signup {
        font-size: 9px;
      }
    }
  }
}
