$primary:  rgba(85, 110, 230, 1);
$primary-transparent: rgba(85, 110, 230, 0.25);
$whisper: rgba(248, 248, 251, 1);
$ghost: rgba(206, 212, 218, 1);
$hit-gray: rgba(173, 181, 189, 1);
$storm-gray: rgba(116, 120, 141, 1);
$trout: rgba(73, 80, 87, 1);
$product: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);